---
permalink: /events.ics
eleventyExcludeFromCollections: true
---
BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//near-redmond//events//EN
CALSCALE:GREGORIAN
METHOD:PUBLISH
X-WR-CALNAME:Near Redmond Events
X-WR-TIMEZONE:America/Los_Angeles
{%- for e in collections.events %}
{%- set abs = site.origin + (e.url | url) %}
{%- set occ = e.data | occurrences %}
{%- for o in occ %}
BEGIN:VEVENT
UID:{{ abs }}{% if occ.length > 1 %}#{{ loop.index }}{% endif %}
DTSTAMP:{{ site.buildTime | icsDate }}
DTSTART:{{ o.start | icsDate }}
{%- if o.end %}
DTEND:{{ o.end | icsDate }}
{%- endif %}
SUMMARY:{{ e.data.title | icsText | safe }}
{%- if e.data.address or e.data.venue %}
LOCATION:{{ (e.data.venue ~ (", " if e.data.venue and e.data.address) ~ e.data.address) | icsText | safe }}
{%- endif %}
URL:{{ abs }}
DESCRIPTION:{{ ("More: " ~ abs) | icsText | safe }}
END:VEVENT
{%- endfor %}
{%- endfor %}
END:VCALENDAR
